@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family:"Tahoma" ;
        src: url("/src/assets/fonts/Tahoma\ Regular\ font.ttf") format("Regular"),
        url("/src/assets/fonts/TAHOMABD.TTF") format("bold");
    }

    @font-face {
        font-family:"Segoe" ;
        src: url("/src/assets/fonts/Segoe\ UI.ttf") format("Regular"),
        url("/src/assets/fonts/Segoe\ UI\ Bold.ttf") format("bold");;
    }

    

     /* for the navBar radius */
    .custom-rounded {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      /*Robot dimensions*/
    .robot-height {
        height: 500px;
      } 

    .robot-width {
        width: 600px;
      }

    .custom-PC{
      height: 600;
      width: 700px;
    }  

    .splach{
      height: 350px;
      width: 500px;
    }  


     /*pink line1 dimensions*/
    .line1-height {
        height: 20px;
      } 
      
    .line1-width {
              width: 600px;
      }


      .square {
        width: 380px;
        padding-bottom: 300px;
        background-color: black;
      }

      .squareMd {
        width: 400px;
        padding-bottom: 300px;
        background-color: black;
      }



      /* Your global styles or component styles */
.slick-arrow-custom {
  top: 50%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);       /* Set the arrow text color */
  font-size: 29px;    /* Adjust the font size as needed */
}

.slick-prev-custom {
  left: 10px; /* Adjust the left position for the previous arrow */
}

.slick-next-custom {
  right: 10px; /* Adjust the right position for the next arrow */
}
.searchBar-admin{
  background-color: white;
  width: 60%;
  border-radius: 2.5rem;
  padding: 0 15px;
  align-items: center;
  display: flex;
}
.inputSearch{
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
}
.vertical-line {
  border-left: 2px solid #8d8a8a76; /* Adjust color and thickness as needed */
  height: 420px;
  
}
.column-list {
display: grid;
grid-template-columns: auto auto auto;
overflow: auto;
}
.column-list2 {
  display: grid;
  grid-template-columns: auto auto;
  overflow: auto;
  }


/********************************TO CUSTOMIZE THE SCOLL BARS*********************************/
/* width */
::-webkit-scrollbar {
  width: 12px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #E5E5E5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DF1477;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Standard scrollbar styles (for non-WebKit browsers) */
div.overflow-scroll {
  scrollbar-width: thin;
  scrollbar-color: #DF1477 #E5E5E5;
  overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

div.overflow-scroll::-webkit-scrollbar {
  width: 10px;
  
}

div.overflow-scroll::-webkit-scrollbar-thumb {
  background-color: #DF1477;
  
}

div.overflow-scroll::-webkit-scrollbar-track {
  background-color: #E5E5E5;
}
/************************************************************************************************/

.show-atricle-scroll{
  height:600px;
}

/* For the inputes names and password*/
.placeholder{
 
  top: 10px;
  left: -12px;
  font-size: 15px;
  padding: 0px 5px;
  color: #666;
  pointer-events: none;
  transition: 0.3s;
}

input:valid + .placeholder,
input:focus + .placeholder {
  top: -2px;
  color: #666;
  background-color: #FFFF;
  transform: translateX(20px) translateY(-10px) scale(0.88);
}

.showPasswordEye{
  position: absolute;
  color: #555;
  top: 13px;
  right: 10px;
}

/* Custom styles for square radio button */
input[type="radio"] {
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #666;
  border-radius: 0em;
  outline: none;
  transition: 0.2s;
}

/* Custom styles for checked state */
input[type="radio"]:checked {
  display: inline-block;
  background-color: #DF1477;
  border-color: #666;
}
.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


}